dash==1.5.1
dash-core-components==1.4.0
dash-html-components==1.0.1
dash-renderer==1.2.0
Flask==1.1.1
pandas==0.25.3
plotly==4.2.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3